.info-docs {
  padding: 20px;
}

.info-docs > * + * {
  margin-top: 1em;
}

.info-docs > *:first-child {
  text-box-trim: trim-start;
}

.info-docs > *:last-child {
  text-box-trim: trim-end;
}

.info-docs p {
  font-size: 0.875rem;
  line-height: 1.5;
}

.info-docs a {
  text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
  .info-docs a:hover {
    text-decoration: none;
  }
}

.info-links {
  padding: 20px;
  background-color: var(--theme-bg-2);
}

.info-links > ul {
  margin-left: 1.5em;
  font-size: 0.875rem;
}

.info-links > ul > li {
  list-style: circle outside;
}

.info-links > ul > li:not(:first-child) {
  margin-top: 0.25em;
}

.info-links a {
  text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
  .info-links a:hover {
    text-decoration: none;
  }
}
