.item {
  --item-bar-width: 4px;
  --item-name-font-size: 0.875rem;
  --item-label-font-size: 0.625rem;
  --item-date-font-size: 0.75rem;
  --item-hardware-name-font-size: 1rem;
  --item-news-name-font-size: 0.6875rem;
  --item-news-date-font-size: 0.625rem;
}

.item {
  position: relative;
  padding-left: 14px;
}

.item-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: var(--pj-color-accent);
  translate: 50% -50%;
}

.item-content > * + * {
  margin-top: 0.25rem;
}

.item-name {
  font-size: var(--item-name-font-size);
  font-weight: 600;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-height: 1.25;
  text-box-trim: trim-both;
}

.item-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem 0.125rem;
}

.item-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 0.125rem;
}

.item-label {
  display: flex;
  align-items: center;
  padding: 1px 0.25em;
  background-color: var(--pj-color-accent);
  border: 1px solid transparent;
  border-radius: 2px;
  color: var(--theme-bg-2);
  font-size: var(--item-label-font-size);
  font-weight: 700;
  line-height: 1.125;
}

.item-label-control > label {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1px 0.25em;
  border: 1px solid currentColor;
  border-radius: 2px;
  font-size: var(--item-label-font-size);
  font-weight: 600;
  line-height: 1.125;
}

input[type="checkbox"]:not(:checked)
  + .item-labels
  > .item-label-control.is-open
  ~ :is(.item-label, .item-label-control.is-close) {
  display: none;
}

input[type="checkbox"]:checked + .item-labels > .item-label-control.is-open {
  display: none;
}

.item-date {
  color: var(--theme-tx-3);
  font-size: var(--item-date-font-size);
  font-weight: 500;
  line-height: 1.125;
  white-space: nowrap;
}

.item.is-category-hardware .item-name {
  font-size: var(--item-hardware-name-font-size);
}

.item.is-category-news {
  margin-left: auto;
  padding-left: 0;
}

.item.is-category-news .item-content > * + * {
  margin-top: 0.25rem;
}

.item.is-category-news .item-name {
  font-size: var(--item-news-name-font-size);
}

.item.is-category-news .item-date {
  font-size: var(--item-news-date-font-size);
}
