.item {
  --item-bar-width: 4px;
  --item-name-font-size: 1rem;
  --item-label-font-size: 0.625rem;
  --item-date-font-size: 0.75rem;
  --item-hardware-name-font-size: 1.125rem;
  --item-news-name-font-size: 0.75rem;
  --item-news-date-font-size: clamp(0.625rem, 1vw + 0.375rem, 0.75rem);
}

.item {
  position: relative;
  padding-left: 14px;
}

.item-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: var(--pj-color-accent);
  translate: 50% -50%;
}

.item-content > * + * {
  margin-top: 0.25rem;
}

.item-name {
  font-size: var(--item-name-font-size);
  font-weight: 600;
  font-feature-settings: "palt";
  letter-spacing: 0.0125em;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-height: 1.125;
  text-box-trim: trim-both;
}

.item-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.125rem;
}

.item-labels {
  display: flex;
  gap: 0.125rem;
}

.item-label {
  display: grid;
  place-content: center;
  height: var(--item-date-font-size);
  padding: 0 0.25em;
  background-color: var(--pj-color-accent);
  border-radius: 2px;
  color: var(--theme-bg-2);
  font-size: var(--item-label-font-size);
  font-weight: 700;
  line-height: 1;
}

.item-date {
  color: var(--theme-tx-3);
  font-size: var(--item-date-font-size);
  font-weight: 500;
  font-feature-settings: "palt";
  line-height: 1;
  white-space: nowrap;
}

.item.is-category-hardware .item-name {
  font-size: var(--item-hardware-name-font-size);
}

.item.is-category-news {
  margin-left: auto;
  padding-left: 0;
}

.item.is-category-news .item-content > * + * {
  margin-top: 0.25rem;
}

.item.is-category-news .item-name {
  font-size: var(--item-news-name-font-size);
}

.item.is-category-news .item-date {
  font-size: var(--item-news-date-font-size);
}
