.item {
  --item-bar-width: 4px;
  --item-name-font-size: 0.75rem;
  --item-label-font-size: 0.625rem;
  --item-date-font-size: 0.625rem;
  --item-hardware-name-font-size: 0.875rem;
  --item-news-name-font-size: 0.625rem;
  --item-news-date-font-size: 0.625rem;
}

.item {
  position: relative;
  display: flex;
}

.item-bar {
  width: 4px;
  margin-right: 0.25rem;
  background-color: var(--theme-pj-accent);
}

.item-content {
  font-size: var(--item-name-font-size);
  line-height: 1.25;
  text-box-trim: trim-both;
}

.item-name {
  margin-right: 0.125rem;
  font-size: var(--item-name-font-size);
  font-weight: 600;
}

.item-labels {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.125rem;
  margin-right: 0.1875rem;
}

.item-label {
  display: inline-flex;
  align-items: center;
  padding: 1px 0.25em;
  background-color: var(--theme-pj-accent);
  border: 1px solid transparent;
  border-radius: 2px;
  color: var(--theme-bg-2);
  font-size: var(--item-label-font-size);
  font-weight: 700;
  line-height: 1.125;
}

.item-label-control > label {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1px 0.25em;
  border: 1px solid currentColor;
  border-radius: 2px;
  font-size: var(--item-label-font-size);
  font-weight: 600;
  line-height: 1.125;
}

input[type="checkbox"]:not(:checked)
  + .item-labels
  > .item-label-control.is-open
  ~ :is(.item-label, .item-label-control.is-close) {
  display: none;
}

input[type="checkbox"]:checked
  + .item-labels
  > :is(.item-label:first-child, .item-label-control.is-open) {
  display: none;
}

.item-date {
  display: inline-block;
  color: var(--theme-tx-3);
  font-size: var(--item-date-font-size);
  font-weight: 500;
}

.item.is-category-hardware .item-content,
.item.is-category-hardware .item-name {
  font-size: var(--item-hardware-name-font-size);
}

.item.is-category-news .item-content,
.item.is-category-news .item-name {
  font-size: var(--item-news-name-font-size);
  font-weight: 500;
}

.item.is-category-news .item-date {
  font-size: var(--item-news-date-font-size);
}

.timeline-year.is-separate-main
  .item.is-category-hardware
  + .item.is-category-software {
  padding-top: 0.625rem;
  border-top: 1px solid var(--theme-bd-2);
}
