.modal {
  --modal-sidebar-width: 248px;
  --modal-header-height: 48px;
}

.modal {
  position: fixed;
  inset: 0;
  display: grid;
  height: 100vh;
  place-content: center;
  overflow: hidden;
  transition: opacity 0.2s ease, display 0.2s allow-discrete;
  z-index: 100;
}

.modal:not(.is-active) {
  display: none;
  opacity: 0;
}

@starting-style {
  .modal {
    opacity: 0;
  }
}

.modal-background {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.32);
}

.modal-container {
  position: relative;
  max-width: calc(var(--pj-timeline-max-width, 540px) - 140px);
  max-height: 70vh;
  width: calc(100vw - 100px);
  margin-bottom: 5vh;
  border-radius: 12px;
  background-color: var(--theme-bg-1);
  overflow: hidden;
  transition: opacity 0.2s ease-in-out, translate 0.2s ease-in-out,
    display 0.2s allow-discrete;
}

@media (width <= 540px) {
  .modal-container.is-mobile-sidebar {
    max-width: none;
    max-height: none;
    width: var(--modal-sidebar-width);
    height: 100vh;
    margin-left: calc(
      100vw - var(--modal-sidebar-width) - var(--pj-scrollbar-width)
    );
    margin-bottom: 0;
    border-radius: 0;
  }
}

.modal-container:not(.is-active) {
  display: none;
  translate: 0 32px;
  opacity: 0;
}

@starting-style {
  .modal-container {
    translate: 0 32px;
    opacity: 0;
  }
}

@media (width <= 540px) {
  .modal-container.is-mobile-sidebar:not(.is-active) {
    translate: 75vw 0;
  }
  @starting-style {
    .modal-container.is-mobile-sidebar {
      translate: 75vw 0;
    }
  }
}

.modal-container.is-static-height {
  height: 70vh;
}

.modal-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--modal-header-height);
  padding: 0 20px;
  background-color: var(--theme-bg-1);
  border-bottom: 1px solid var(--theme-bd-1);
  overflow: hidden;
  z-index: 10;
}

@media (width <= 540px) {
  .modal-container.is-mobile-sidebar .modal-header {
    justify-content: flex-start;
  }
}

.modal-header-title {
  font-size: 1rem;
  font-weight: 600;
}

.modal-header-right {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
}

.modal-header-right .button {
  --button-border-radius: 0;
  --button-square-size: var(--modal-header-height);
}

.modal-header-button-icon {
  width: 22px;
  height: 22px;
}

.modal-header-button-icon.is-back {
  display: none;
}

@media (width <= 540px) {
  .modal-container.is-mobile-sidebar .modal-header-button-icon.is-close {
    display: none;
  }
  .modal-container.is-mobile-sidebar .modal-header-button-icon.is-back {
    display: block;
  }
}

.modal-contents {
  max-height: 70vh;
  padding-top: var(--modal-header-height);
  overflow-y: auto;
}

@media (width <= 540px) {
  .modal-container.is-mobile-sidebar .modal-contents {
    max-height: 100vh;
    padding-bottom: 40vh;
  }
}
