.tagcloud {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tagcloud > .button {
  justify-content: flex-start;
  padding: 0.5em 0.625em;
}

.tagcloud > .button .text {
  font-size: 0.875rem;
  font-weight: 400;
  font-feature-settings: "palt";
  letter-spacing: 0.0125em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tagcloud > .button.is-outline.is-active {
  background-color: color-mix(
    in srgb,
    var(--theme-primary) 15%,
    transparent 75%
  );
  border-color: var(--theme-primary);
}
