.header {
  display: grid;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-title-icon {
  flex: none;
  width: 28px;
  aspect-ratio: 460 / 360;
}

.header-title-text {
  font-size: 18px;
  font-weight: 700;
  font-feature-settings: "palt";
}

.header .button.is-melt.is-active {
  background: var(--button-melt-hover-bg-mix);
  color: var(--theme-primary);
}

.header-button-icon {
  width: 24px;
  height: 24px;
}

.header-sticky {
  position: sticky;
  top: 16px;
}
