.booth-container > * + * {
  margin-top: 1px;
}

.booth-container > * + *::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  width: calc(100% - 20px);
  background-color: var(--theme-bd-1);
  border-top: 1px solid var(--theme-bd-1);
}

.booth-field {
  position: relative;
  padding: 20px;
}

@media (992px <= width) {
  .booth-field.is-mobile-only,
  .booth-field-docs.is-mobile-only {
    display: none;
  }
}

.booth-field > * + * {
  margin-top: 8px;
}

.booth-field-title {
  font-size: 0.875rem;
  font-weight: 600;
  font-feature-settings: "palt";
  letter-spacing: 0.0125em;
}

.booth-field-docs > * + * {
  margin-top: 1em;
}

.booth-field-docs > *:first-child {
  text-box-trim: trim-start;
}

.booth-field-docs > *:last-child {
  text-box-trim: trim-end;
}

.booth-field-docs > *:first-child:last-child {
  text-box-trim: trim-both;
}

.booth-field-docs p {
  font-size: 0.875rem;
  line-height: 1.5;
}

.booth-field-docs p.text.is-note {
  color: var(--theme-tx-3);
  font-size: 0.75rem;
}

.booth-field-stage {
  position: relative;
  height: 120px;
  background-color: var(--theme-bg-3);
  border: 1px solid var(--theme-primary);
  border-radius: 6px;
  overflow: hidden;
}

.booth-field-stage-badge {
  position: absolute;
  bottom: 6px;
  left: 6px;
  display: flex;
  background-color: var(--theme-bg-1);
  border: 1px solid var(--theme-primary);
  border-radius: 4px;
}

.booth-field-stage-badge-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  background-color: var(--theme-primary);
}

.booth-field-stage-badge-icon {
  width: 20px;
  height: 20px;
  color: var(--theme-bg-1);
}

.booth-field-stage-badge-meta {
  padding: 4px 6px;
}

.booth-field-stage-badge-meta > * + * {
  margin-top: 2px;
}

.booth-field-stage-badge-meta-text {
  color: var(--theme-primary);
  font-size: 0.6875rem;
  font-weight: 700;
  font-family: var(--font-mono);
  line-height: 1;
  white-space: nowrap;
}

.booth-field-stage-badge-meta-text .text.is-exceeded {
  color: var(--theme-danger);
  font-weight: 600;
}

.booth-field-stage-delete {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 2;
}

.booth-field-stage-delete .button:is(.is-square, .is-circle) {
  width: 28px;
  height: 28px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.booth-field-buttons {
  display: flex;
  gap: 6px;
}

.booth-field-buttons .button {
  flex: 1 0;
  gap: 4px;
}

.booth-field-buttons .text {
  font-size: 0.875rem;
}

.booth-field-button-icon {
  width: 18px;
  height: 18px;
}

.booth-field-button-icon.is-lg {
  scale: 1.15;
}

.booth-field-content-card {
  border: 1px solid var(--theme-primary);
  border-radius: 6px;
}

.booth-field-content-card > .booth-field-stage {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 6px 6px 0 0;
}

.booth-field-content-card .button {
  border-radius: 4px;
}

.booth-field-content-card-inner {
  padding: 8px;
}

.booth-field-content-card-inner > * + * {
  margin-top: 8px;
}

.booth-field-checks > * + * {
  margin-top: 6px;
}

.booth-field-checks-all .button {
  justify-content: flex-start;
  width: 100%;
  padding: 0.5em 0.625em;
}

.booth-field-checks-all .button .text {
  font-size: 0.875rem;
  font-weight: 400;
}

.booth-field-checks-children {
  display: flex;
  flex-wrap: wrap;
}

.booth-field-checks-child {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px 4px 4px;
}

.booth-field-checks-child .text {
  font-size: 0.875rem;
}
