.booth-container > * + * {
  margin-top: 1px;
}

.booth-container > * + *::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  width: calc(100% - 20px);
  background-color: var(--theme-bd-1);
  border-top: 1px solid var(--theme-bd-1);
}

.booth-field {
  position: relative;
  padding: 20px;
}

@media (992px <= width) {
  .booth-field.is-mobile-only,
  .booth-field-docs.is-mobile-only {
    display: none;
  }
}

.booth-field > * + * {
  margin-top: 8px;
}

.booth-field-title {
  font-size: 0.875rem;
  font-weight: 600;
  font-feature-settings: "palt";
  letter-spacing: 0.0125em;
}

.booth-field-docs > * + * {
  margin-top: 1em;
}

.booth-field-docs > *:first-child {
  text-box-trim: trim-start;
}

.booth-field-docs > *:last-child {
  text-box-trim: trim-end;
}

.booth-field-docs > *:first-child:last-child {
  text-box-trim: trim-both;
}

.booth-field-docs p {
  font-size: 0.875rem;
  line-height: 1.5;
}

.booth-field-docs p.text.is-note {
  color: var(--theme-tx-3);
  font-size: 0.75rem;
}

.booth-field-stage {
  position: relative;
  height: 120px;
  background-color: var(--theme-bg-3);
  border: 1px solid var(--theme-primary);
  border-radius: 6px;
  overflow: hidden;
}

.booth-field-stage-delete {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 2;
}

.booth-field-stage-delete .button:is(.is-square, .is-circle) {
  width: 28px;
  height: 28px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.booth-field-buttons {
  display: flex;
  gap: 6px;
}

.booth-field-buttons .button {
  flex: 1 0;
  gap: 4px;
}

.booth-field-buttons .text {
  font-size: 0.875rem;
}

.booth-field-button-icon {
  width: 18px;
  height: 18px;
}

.booth-field-button-icon.is-lg {
  scale: 1.15;
}
